---
layout: archive
---

<div>

  {{ content }}

  {% for post in paginator.posts %}
  <article>
    <h2>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  </hr>
  {% endfor %}
</div>

{% include paginator.html %}
